
server {
    listen {{ nginx_port_tls }} ssl;
    root /usr/share/nginx/html;
    index index.html index.htm;
    server_name {{ ansible_host }};

    ssl_certificate      "/home/ansible/certificates/{{ server_hostname }}_cert.pem";
    ssl_certificate_key  "/home/ansible/certificates/{{ server_hostname }}_privkey.pem";
    ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers  "RC4:HIGH:!aNULL:!MD5:!kEDH";
    add_header Strict-Transport-Security 'max-age=604800';

    location / {
            try_files $uri $uri/ =404;
    }
}
